<div class="container">

    <!-- Edit form -->
    <div class="row">
        <form role="form">
            <div class="row">
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" ng-model="name">
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <textarea class="form-control" name="description" ng-model="description"></textarea>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <input type="text" class="form-control" id="category" name="category" ng-model="category">
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" name="quantity" ng-model="quantity">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" class="form-control-file" id="image" name="image" ng-model="image">
            </div>
            <div class="row">
                <a href="#/list" class="btn btn-outline-secondary">Back</a>
                <button type="submit" class="btn-btn-outline-info" ng-click="save()">Submit</button>
            </div>
        </form>
    </div>
</div>